/* Save an empty style text box to reload the default example styles.
 * These styles are provided as examples only - modifications may be 
 * necessary to customize the layout for your website. Social share
 * buttons can be aligned vertically, horizontally, floated, etc.
 */

/* align the buttons vertically in 135px wide column(s) */
.ngfb-widget-buttons { 
	text-align:left;
}
.ngfb-widget-buttons .ngfb-buttons { 
	margin:20px 0 0 0;
}
.ngfb-widget-buttons .ngfb-buttons > div { 
	display:inline-block;
	vertical-align:top;
	padding:0;
	margin:5px;
	width:135px; 
	height:20px;
}
.ngfb-widget-buttons .ngfb-preset-large_share_vertical .ngfb-buttons > div { 
	width:70px;
	height:61px;
}
.ngfb-widget-buttons .ngfb-preset-large_share_vertical .ngfb-buttons > div.pinterest-button { 
	height:40px;
	line-height:40px;
}
